// app global css in SCSS form
.page-flip-enter-active,
.page-flip-leave-active {
  transition: transform 0.8s ease, opacity 0.8s ease;
  transform-style: preserve-3d;
}

.page-flip-enter-from {
  transform: rotateY(-90deg);
  opacity: 0;
  transform-origin: left center;
}

.page-flip-enter-to {
  transform: rotateY(0deg);
  opacity: 1;
}

.page-flip-leave-from {
  transform: rotateY(0deg);
  opacity: 1;
  transform-origin: right center;
}

.page-flip-leave-to {
  transform: rotateY(90deg);
  opacity: 0;
}
.page-flip-enter-active,
.page-flip-leave-active {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
#q-app {
  perspective: 1200px;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#q-app,
.q-app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
